@font-face {
    font-family: 'PeydaWeb';
    src: url('PeydaWeb-ExtraBold.eot');
    src: url('PeydaWeb-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('PeydaWeb-ExtraBold.woff2') format('woff2'),
        url('PeydaWeb-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PeydaWeb';
    src: url('PeydaWeb-Black.eot');
    src: url('PeydaWeb-Black.eot?#iefix') format('embedded-opentype'),
        url('PeydaWeb-Black.woff2') format('woff2'),
        url('PeydaWeb-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PeydaWeb';
    src: url('PeydaWeb-Bold.eot');
    src: url('PeydaWeb-Bold.eot?#iefix') format('embedded-opentype'),
        url('PeydaWeb-Bold.woff2') format('woff2'),
        url('PeydaWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PeydaWeb';
    src: url('PeydaWeb-Medium.eot');
    src: url('PeydaWeb-Medium.eot?#iefix') format('embedded-opentype'),
        url('PeydaWeb-Medium.woff2') format('woff2'),
        url('PeydaWeb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PeydaWeb';
    src: url('PeydaWeb-Light.eot');
    src: url('PeydaWeb-Light.eot?#iefix') format('embedded-opentype'),
        url('PeydaWeb-Light.woff2') format('woff2'),
        url('PeydaWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PeydaWeb';
    src: url('PeydaWeb-Regular.eot');
    src: url('PeydaWeb-Regular.eot?#iefix') format('embedded-opentype'),
        url('PeydaWeb-Regular.woff2') format('woff2'),
        url('PeydaWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PeydaWeb';
    src: url('PeydaWeb-ExtraLight.eot');
    src: url('PeydaWeb-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('PeydaWeb-ExtraLight.woff2') format('woff2'),
        url('PeydaWeb-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PeydaWeb';
    src: url('PeydaWeb-SemiBold.eot');
    src: url('PeydaWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('PeydaWeb-SemiBold.woff2') format('woff2'),
        url('PeydaWeb-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PeydaWeb';
    src: url('PeydaWeb-Thin.eot');
    src: url('PeydaWeb-Thin.eot?#iefix') format('embedded-opentype'),
        url('PeydaWeb-Thin.woff2') format('woff2'),
        url('PeydaWeb-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

