@font-face {
  font-family: 'jiredaam';
  src: url('../font/jiredaam.eot?52164712');
  src: url('../font/jiredaam.eot?52164712#iefix') format('embedded-opentype'),
       url('../font/jiredaam.woff2?52164712') format('woff2'),
       url('../font/jiredaam.woff?52164712') format('woff'),
       url('../font/jiredaam.ttf?52164712') format('truetype'),
       url('../font/jiredaam.svg?52164712#jiredaam') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'jiredaam';
    src: url('../font/jiredaam.svg?52164712#jiredaam') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "jiredaam";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-account:before { content: '\e800'; } /* '' */
.icon-accounting:before { content: '\e801'; } /* '' */
.icon-back:before { content: '\e802'; } /* '' */
.icon-calendar_plus:before { content: '\e803'; } /* '' */
.icon-checkmark:before { content: '\e804'; } /* '' */
.icon-collapse_arrow:before { content: '\e805'; } /* '' */
.icon-combo_chart:before { content: '\e806'; } /* '' */
.icon-contact_details:before { content: '\e807'; } /* '' */
.icon-cow:before { content: '\e808'; } /* '' */
.icon-download:before { content: '\e809'; } /* '' */
.icon-expand_arrow:before { content: '\e80a'; } /* '' */
.icon-farm:before { content: '\e80b'; } /* '' */
.icon-forward:before { content: '\e80c'; } /* '' */
.icon-help:before { content: '\e80d'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-hygrometer:before { content: '\e80f'; } /* '' */
.icon-info:before { content: '\e810'; } /* '' */
.icon-moleskine:before { content: '\e811'; } /* '' */
.icon-news_feed:before { content: '\e812'; } /* '' */
.icon-organic_food:before { content: '\e813'; } /* '' */
.icon-password_reset:before { content: '\e814'; } /* '' */
.icon-password:before { content: '\e815'; } /* '' */
.icon-plus_math:before { content: '\e816'; } /* '' */
.icon-plus:before { content: '\e817'; } /* '' */
.icon-presentation:before { content: '\e818'; } /* '' */
.icon-print:before { content: '\e819'; } /* '' */
.icon-process:before { content: '\e81a'; } /* '' */
.icon-search:before { content: '\e81b'; } /* '' */
.icon-settings:before { content: '\e81c'; } /* '' */
.icon-shooting_stars:before { content: '\e81d'; } /* '' */
.icon-shopping_cart:before { content: '\e81e'; } /* '' */
.icon-star:before { content: '\e81f'; } /* '' */
.icon-time_machine:before { content: '\e820'; } /* '' */
.icon-trash_can:before { content: '\e821'; } /* '' */
.icon-view_details:before { content: '\e822'; } /* '' */
.icon-edit:before { content: '\e823'; } /* '' */
.icon-add_document:before { content: '\e824'; } /* '' */
.icon-financial_growth_analysis:before { content: '\e825'; } /* '' */
.icon-unchecked_checkbox:before { content: '\e826'; } /* '' */
.icon-checked_checkbox:before { content: '\e827'; } /* '' */
.icon-shutdown:before { content: '\e828'; } /* '' */