
.icon-account:before { content: '\e800'; } /* '' */
.icon-accounting:before { content: '\e801'; } /* '' */
.icon-back:before { content: '\e802'; } /* '' */
.icon-calendar_plus:before { content: '\e803'; } /* '' */
.icon-checkmark:before { content: '\e804'; } /* '' */
.icon-collapse_arrow:before { content: '\e805'; } /* '' */
.icon-combo_chart:before { content: '\e806'; } /* '' */
.icon-contact_details:before { content: '\e807'; } /* '' */
.icon-cow:before { content: '\e808'; } /* '' */
.icon-download:before { content: '\e809'; } /* '' */
.icon-expand_arrow:before { content: '\e80a'; } /* '' */
.icon-farm:before { content: '\e80b'; } /* '' */
.icon-forward:before { content: '\e80c'; } /* '' */
.icon-help:before { content: '\e80d'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-hygrometer:before { content: '\e80f'; } /* '' */
.icon-info:before { content: '\e810'; } /* '' */
.icon-moleskine:before { content: '\e811'; } /* '' */
.icon-news_feed:before { content: '\e812'; } /* '' */
.icon-organic_food:before { content: '\e813'; } /* '' */
.icon-password_reset:before { content: '\e814'; } /* '' */
.icon-password:before { content: '\e815'; } /* '' */
.icon-plus_math:before { content: '\e816'; } /* '' */
.icon-plus:before { content: '\e817'; } /* '' */
.icon-presentation:before { content: '\e818'; } /* '' */
.icon-print:before { content: '\e819'; } /* '' */
.icon-process:before { content: '\e81a'; } /* '' */
.icon-search:before { content: '\e81b'; } /* '' */
.icon-settings:before { content: '\e81c'; } /* '' */
.icon-shooting_stars:before { content: '\e81d'; } /* '' */
.icon-shopping_cart:before { content: '\e81e'; } /* '' */
.icon-star:before { content: '\e81f'; } /* '' */
.icon-time_machine:before { content: '\e820'; } /* '' */
.icon-trash_can:before { content: '\e821'; } /* '' */
.icon-view_details:before { content: '\e822'; } /* '' */
.icon-edit:before { content: '\e823'; } /* '' */
.icon-add_document:before { content: '\e824'; } /* '' */
.icon-financial_growth_analysis:before { content: '\e825'; } /* '' */
.icon-unchecked_checkbox:before { content: '\e826'; } /* '' */
.icon-checked_checkbox:before { content: '\e827'; } /* '' */
.icon-shutdown:before { content: '\e828'; } /* '' */