body {
  margin: 0;
  direction: rtl;
}
* {
  /* direction: rtl !important; */
}
a,
button,
div {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 768px) {
  input,
  select {
    -webkit-appearance: none;
  }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* Pagination Class Names */
.pagination {
  font-family: "PeydaWeb";
  direction: ltr;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-top: 40px !important;
  margin-bottom: 15px;
  padding-inline-start: 0;
}
.pagination__pagination-container {
  background: blue;
}
.pagination__item {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 30px;
}
.pagination__item a {
  min-width: 36px !important;
  height: 36px;
  background: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 9px;
  text-align: center;
  padding: 11px 14px 8px 14px;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .pagination__item a {
    padding: 11px 11px 8px 11px;
  }
}
.pagination__item--active a {
  background: #2398ff;
  border-color: #2398ff;
  color: white;
}
.pagination__break {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  border-radius: 9px;
}
@media only screen and (max-width: 768px) {
  .pagination__break {
    margin-left: -5px;
    margin-right: 5px;
  }
}
.pagination__break a {
  color: #d8d8d8;
  font-size: 20px;
  padding: 10px;
  border-radius: 9px;
}
@media only screen and (max-width: 768px) {
  .pagination__break a {
    padding: 0px;
  }
}
.pagination__arrow-style {
  list-style: none;
  display: inline-block;
}
.pagination__arrow-style__next {
  margin-right: 15px;
  margin-left: 5px;
}
.pagination__arrow-style__prev {
  margin-right: 15px;
  margin-left: 15px;
}
.pagination__arrow-style a {
  min-width: 36px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 9px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 10px 7px 10px;
}
.pagination * {
  outline: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.pagination a {
  cursor: pointer;
  transition: ease background 0.25s, ease border-color 0.25s, ease color 0.25s;
}
.pagination a:hover {
  background: rgba(35, 152, 255, 0.1);
  border-color: #2398ff;
  color: #2398ff;
  border-radius: 9px;
}

/* Tabs Class Name */
.tabs {
  width: fit-content;
  display: table;
}
.tabs li {
  list-style: none;
}
.tabs *,
.tabs *:focus {
  outline: none;
}
.tabs__tabList {
  margin: 0;
  border: 0;
  padding-right: 30px;
}
@media only screen and (max-width: 860px) {
  .tabs__tabList {
    display: flex;
  }
}
.tabs__tab {
  cursor: pointer;
  outline: none;
  background: #ffffff;
  border-color: #e9ecef;
  border-style: solid;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom: 0px;
  border-radius: 9px 9px 0 0;
  padding: 12px 14px;
  font-family: "PeydaWeb";
  font-weight: 500;
  font-size: 14px;
  color: #6c757d;
  display: inline-block;
  margin-left: 15px;
  box-shadow: inset 0 -5px 20px rgba(35, 152, 255, 0);
  transition: ease all 0.25s;
}
@media only screen and (max-width: 860px) {
  .tabs__tab {
    font-size: 12px;
  }
}
.tabs__tab:hover {
  color: #2398ff;
  background: rgba(35, 152, 255, 0.1);
  /* box-shadow: inset 0 -5px 20px rgba(35,152,255,0.2); */
}
.tabs__tab--active {
  background: rgba(35, 152, 255, 0.1);
  border-color: rgba(35, 152, 255, 0.5);
  color: #2398ff;
}
.tabs__panel {
  margin: 0;
  background: #ffffff;
  border: 1px solid #e9ecef;
  box-shadow: 0 6px 32px 0 rgba(0, 0, 0, 0.03);
  border-radius: 9px;
  padding: 30px;
  display: none;
  border-top: 1px solid rgba(35, 152, 255, 0.5);
}
.tabs__panel--active {
  display: block;
}

/* Horizontal List */
.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
  outline: none;
}
.menu-item-wrapper {
  font-family: "PeydaWeb";
  font-size: 14px;
  color: #2398ff;
  width: fit-content;
}
.menu-item {
  width: fit-content;
}
.menu-item-wrapper.active {
  background: rgba(35, 152, 255, 0.1);
  border-radius: 9px;
}
/* .menu-item.active {
  border: 1px green solid;
} */

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
.menu-wrapper--inner {
  width: fit-content;
}

body::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  border-radius: 2.5px;
}
body::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 10px;
}

.inline-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}
.inline-label {
  width: auto;
}
.inline-input {
  flex: 1;
  max-width: 50%;
}

/* moda */
.normal-modal__container {
  width: 700px;
  max-width: calc(100vw - 50px) !important;
  border-radius: 20px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2) !important;
  padding: 20px 20px 20px 20px !important;
  box-sizing: border-box;
  text-align: right;
}


.normal-modal__container.normal-modal__confirm-container {
  width: 450px;
  max-width: calc(100% - 50px) !important;
  text-align: right;
}
.normal-modal__overlay {
  background: rgba(0, 0, 0, 0.35) !important;
  text-align: right;
}
.normal-modal__close-button {
  left: 20px !important;
  top: 20px !important;
  right: initial !important;
  outline: none;
  background: rgba(0, 0, 0, 0.03) !important;
  border-radius: 15px;
  padding: 10px !important;
  transition: ease all 0.2s;
  fill: #6c757d !important;
}
.normal-modal__close-button:hover {
  fill: #ff7470 !important;
  background: rgba(255, 116, 112, 0.1) !important;
}
.normal-modal__close-button:active {
  transform: scale(0.94);
}

.modal-title-bar {
  width: 100%;
  padding-bottom: 25px;
  padding-right: 3px;
}
.modal-title-bar__text {
  font-family: "PeydaWeb";
  font-weight: 500;
  font-size: 16px;
  color: black;
  /* margin-top: 10px; */
  width: calc(100% - 65px);
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.03) !important;
}

/* toast classes */
.toast-cmp {
  font-family: "PeydaWeb";
}
/* .toast-cmp__container {
} */
.toast-cmp__toast {
  border-radius: 9px !important;
}
@media only screen and (max-width: 768px) {
  .toast-cmp__toast {
    border-radius: 0 !important;
  }
}
.toast-cmp__body {
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 24px;
  padding-bottom: 5px;
  padding-top: 5px;
}
@media only screen and (max-width: 768px) {
  .toast-cmp__body {
    font-size: 0.9rem;
  }
}

/* react-confirm-alert custom CSSs */
body.react-confirm-alert-body-element {
  overflow: hidden;
}

.react-confirm-alert-blur {
  filter: url(#gaussian-blur);
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

/* .react-confirm-alert-overlay { */
/* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0,0,0,.35) !important;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards; */
/* } */

.react-confirm-alert-body {
  font-family: "PeydaWeb";
  border-radius: 20px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2) !important;
  padding: 30px !important;
  box-sizing: border-box;
  background: white;
  direction: rtl !important;
  width: 400px;
  /* padding: 30px;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666; */
}

.react-confirm-alert-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.react-confirm-alert-body > h1 {
  font-size: 1.15rem;
  margin-top: 0;
}

.react-confirm-alert-body > h3 {
  margin: 0;
  font-size: 16px;
}

.react-confirm-alert-button-group {
  /* display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex; */
  display: none;
  /* justify-content: flex-start; */
  /* margin-top: 20px; */
}

.react-confirm-alert-button-group > button {
  outline: none;
  background: #333;
  border: none;
  display: inline-block;
  padding: 6px 18px;
  color: #eee;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  font-family: "PeydaWeb";
}

@-webkit-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* placeholder loading */
.loading {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: ease-in;
  background: #f6f7f8;
  background-image: -webkit-gradient(
    linear,
    left center,
    right center,
    from(#f6f7f8),
    color-stop(0.2, #f0f1f5),
    color-stop(0.4, #f6f7f8),
    to(#f6f7f8)
  );
  background-image: -webkit-linear-gradient(
    left,
    #f6f7f8 0%,
    #f0f1f5 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -308px 0;
  }

  100% {
    background-position: 308px 0;
  }
}

/* Inputs */
@media only screen and (max-width: 992px) {
  .input-item {
    width: 100% !important;
  }
}
@media print {
  /* style sheet for print goes here */
  .noprint {
    visibility: hidden !important;
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    flex: 0 !important;
  }
}
.raychat_main_button {
  margin: 10px !important;
}

.react-responsive-modal-modal {
  text-align: initial !important;
  max-width: calc(100vw - 50px) !important;
}
